body{
  width: 90%;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vw;
}
nav{
  background-color: white;
  display: flex;
  justify-content: center;
}
nav a{
  color: black;
  text-decoration: none;
  padding: 2%;
  font-size: 1.5vw;
  font-family: "Courier New", Courier, monospace;
}
nav a:hover:not(.active){
  text-decoration: underline;
}
.gridMain{
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  line-height: 1.5;
}
.gridMain img{
  width: 100%;
}
.gridMain a{
  text-decoration: none;
  color: black;
}
figure{
  margin: 5%;
}
figcaption{
  text-align: center;
  font-size: 1.2vw;
}
#Home{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
