nav{
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
nav a{
  color: black;
  text-decoration: none;
  padding: 25px;
}
h2{
  text-align: center;
  color: white;
}

nav a:hover{
  text-decoration: underline;
}
body{
  background-image: url("../bilder/MH2.jpg");
  background-size: cover;
  margin: 0;
}
p{
  text-align: center;
  padding: 15px;
  color: white;
  padding-top: 7px;
}
